<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<style>
.navbar-toggler {
  color:white;
  border: var(--bs-border-width) solid white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}


.collapse ul li a{
  color:white;
}

.navbar-nav {
  --bs-nav-link-color: white;
}

.navbar-brand{ 
  color:white;
  margin-left: 0.5rem;
}

.navbar{
  border-bottom: 3px solid #F2A900;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
</style>

<nav class="navbar sticky-top navbar-expand-md" style="background-color: #246959;"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
       <img src="{{ site.url }}{{ site.baseurl }}/assets/images/Michigan_State_University_seal.svg.png" width="30" height="30" style="margin-right:5px" class="d-inline-block align-top" alt="">
        {{ site.title | escape }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
            </li> 
            {% for page in site.nav_pages %}
             <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name}}">{{page.name | capitalize }}</a>
             </li> 
            {% endfor %}
          </ul>
    </div>
  </div>
</nav>